# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.venv/
env/
.env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
*.db
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations
*/migrations/
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.py
!*/migrations/__init__.py

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/

# VS Code (если вдруг используешь)
.vscode/

# dotenv
.env
.env.*

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Git
*.swp
*~